body {
    margin: 0px 0px 0px 0px;
    background-color: bisque;
}

.hero-back {
    background-image: url("imm/metalcard.jpg");
    background-color: black;
    height: 900px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}   

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3vw;
    letter-spacing: 8px;
    color: crimson;
}

.linz {
    margin: 15px 20px;
    font-weight: bold;
    letter-spacing: 3px;
    border: 2px dashed midnightblue;
}

.linz h1 {
    font-family: 'Courier New', Courier, monospace;
    color: blueviolet;
    background-color: aqua ;
    font-size: 45px;
    position: relative;
    text-align: center;
    border: 1px solid black;
    margin: 25px;
}
p img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

p {
    font-size: 25px;
    color: black;
    font-family: 'Comic Sans MS';
    font-style: italic;
}
